<h2>Строка состояния</h2>
Логин: <%= current_user.username %><p>

Доступно: <%= total_space_user %> Mb<p>
Использовано:  <%= number_to_human_size(total_space_self_user) %><p>

  <%= link_to 'Upload file', new_profile_userfile_path %>



<h2>Список загруженных файлов</h2>
